<div class="team-page-main-container">
  <h1><%= team.titleize_name %></h1>

  <table class="table">
    <tr class="table-primary">
      <th>Roster</th>
      <th>2022-23</th>
      <th>2023-24</th>
      <th>2024-25</th>
      <th>2025-26</th>
      <th>2026-27</th>
    </tr>
      <% players.each do |player| %>
        <tr>
          <td>
            <%= link_to player.print_waived_name, team_player_path(team, player) %>
          </td>
          <% if Contract.find_by(player_id: player.id).nil? %>
            <td>N/A</td>
          <% else %>
            <% Contract.find_by(player_id: player.id).contract_array.each do |year| %>
              <td>
                <%= year == 0 ? "Two-Way" : number_to_currency(year) %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <tr>

    </tr>
  </table>

<ul>
  <li><%= link_to "Add Player", new_team_player_path(@team, @player) %>
  <li><%= link_to "Edit", edit_team_path %></li>
  <li><%= link_to "Home", root_path %></li>
</ul>