<h1><%= @team.city.gsub("-", " ").titleize%> <%= @team.name.gsub("-", " ").titleize %></h1>

<ul>
  <li><%= link_to "Edit", 
  edit_team_path(@team) %></li>

  <li><%= link_to "Delete", 
  team_path(@team),
  data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %></li>
</ul>

<%= link_to "Home", root_path %>