<style>
  :root {
    <% if @player.team.logo.present? %>
      --team-logo: url('<%= asset_path(@player.team.logo) %>');
    <% else %>
      --team-logo: url('<%= asset_path("ignba.jpg") %>');
    <% end %>

    --player-team-color-primary:   <%= @player.team.primary_color %>;
    --player-team-color-secondary: <%= @player.team.secondary_color %>;
    --player-team-color-tertiary:  <%= @player.team.tertiary_color %>;
  }
  
  .main-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;

    background-image: url('<%= asset_path(@player.team.secondary_logo) %>');
    background-position: 0 0, center top; 
    background-size: cover; 
    background-repeat: no-repeat;
    opacity: 45%;
  }
</style>

<div class="player-rating-box">
  <div class="container-fluid profile-photo-bg">
      <div class="player-team-logo"></div>
      <%= image_tag(@player.image, :class=>"profile-photo", :alt=>"Photo of #{@player.full_name}") if @player.image %>
  </div>
  <p><%= @player.rating %></p>
  Overall
</div>

<div class="player-profile-container">
  <h1>
    <% if @player.full_name.nil? || @player.full_name == "" %>
      <%= @player.print_full_name %>
    <% else %>
      <%= @player.full_name %>
    <% end %>
  </h1>
  <ul class="player-profile-info-list">
    <li><p class="player-profile-label">Age:</p><p class="player-profile-value"><%= @player.age%></p></li>
    <li><p class="player-profile-label">School:</p><p class="player-profile-value"><%= @player.school%></p></li>
    <li><p class="player-profile-label">Country:</p><p class="player-profile-value"><%= @player.country%></p></li>
    <li><p class="player-profile-label">Height:</p><p class="player-profile-value"><%= @player.height%></p></li>
    <li><p class="player-profile-label">Position:</p><p class="player-profile-value"><%= @player.position%></p></li>
    <li><p class="player-profile-label">Draft:</p><p class="player-profile-value"><%= @player.draft_class%></p></li>
    <li><p class="player-profile-label">Years Played:</p><p class="player-profile-value"><%= @player.years_in_league%></p></li>
    <li><p class="player-profile-label">Current Team:</p><p class="player-profile-value"><%= @player.show_player_team%></p></li>
    <li>
      <p class="player-profile-label">Current Salary:</p>
      <p class="player-profile-value">
        <%= @player.contract.year_1 if @player.contract.present? %>
      </p>
    </li>
  </ul>

  <div class="player-links-container">
    <%= link_to "2K Rating", @player.ratings_url, :class=>"player-links", target: :_blank %>
    <%= link_to "Edit Player", edit_admin_team_player_path(@team), :class=>"player-links" %>
    <% if @player.contract %>
      <%= link_to "View Contract", admin_team_player_contract_path(@team, @player, @contract), :class=>"player-links" %>
    <% else %>  
      <%= link_to "Create Contract", new_admin_team_player_contract_path(@team, @player), :class=>"player-links" %>
    <% end %>
    <%= link_to "Delete", admin_team_player_path(@team, @player), data: {
                                                              turbo_method: :delete,
                                                              turbo_confirm: "Are you sure?"
                                                            }, :class=>"player-links" %>
    <%= link_to "Return to Team", admin_team_path(@team), :class=>"player-links" %>
  </div>
</div>
