<div>
  <h1>IGNBA NEWS</h1>
  Our blog has <%= Article.public_count %> 
  <%= (Article.public_count > 1 || Article.public_count == 0) ? 'articles' : 'article' %> 
  and counting!
</div>

<div class="main-container">
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <div class="article-item">
        <h2><%= link_to article.title, article %></h2>
        <p><%= article.published_at.strftime('%B %d, %Y') %></p>
      </div>
    <% end %>
  <% end %>

  <%= will_paginate @articles %>
</div>

<%= link_to "New Article", new_article_path %>