<div class="article-header" style="background: url(<%= asset_path @article.image %>) no-repeat center center; background-size: cover;">
  <h1><%= @article.title %></h1>
</div>

<div class="article-body">
  <p class="article-meta">Written by <%= @article.author.username %> on <%= @article.created_at.strftime("%B %d, %Y") %></p>
  <p><%= @article.body %></p>
</div>

<% if current_user.admin? %>
  <ul>
    <li><%= link_to "Edit", edit_admin_article_path(@article) %></li>
    <li><%= link_to "Delete", admin_article_path(@article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
  </ul>
<% end %>

<div class="comments">
  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>

<%= link_to "Home", root_path %>
