<div class="header">
    <div class="search-notifications">
        <div class="search-container">
            <%= image_tag("magnify.svg", :alt=>"search-icon") %>
            <%= form_tag search_players_path, method: :get, :class => "d-flex" do |form| %>
                <%= text_field_tag :search, params[:search], :class => "form-control me-2", :placeholder => "Search" %>
                <%= submit_tag "Search", :name => nil, :id => "search-btn" %>
            <% end %>
        </div>
        <% if current_user.present? %>
            <div class="notification-icons">
                <%= current_user.team ? image_tag(current_user.team.logo, :alt=>"icon", :class=>"notification-icon") : nil%>
                <%= (link_to image_tag(current_user.image, class: "search-bar-user-avatar"), user_path(current_user)) if current_user.image.present? %>
                <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, :style=>"text-decoration: none;", :class=> "button-to" %>
            </div>
        <% elsif current_user.nil? %>
            <%= button_to "Sign in with Discord", user_discord_omniauth_authorize_path, method: :post, :style=>"width: fit-content;", class: "button-to", data: {turbo: "false"} %>
        <% elsif current_user.provider.nil? %>
            <%= button_to "Connect To Discord", user_discord_omniauth_authorize_path, method: :post, :style=>"width: fit-content;", class: "button-to", data: {turbo: "false"} %>
        <% end %>
    </div>
    
    <div class="name-menu">
        <% if current_user %>
            <%= (link_to image_tag(current_user.image, :alt=>"avatar", :class=>"name-menu-user-avatar"), user_path(current_user)) if current_user.image.present? %>
            <p class="greeting">Hi there,</p>
            <h2 class="name-menu-user-name"><%= current_user.email %></h2>
        <% end %>
    </div>
</div>
