<div class="sidebar">
    <div class="logo-title">
        <%= image_tag("ignba.jpg", :alt=>"ignba logo", :style=>"fill: white;")%>
        <h3 class="title">IGNBA</h3>
    </div>
    <% if current_user %>
        <ul class="account-nav">
            <%= image_tag("home.svg", :alt=>"Logo") %>
            <li><%= link_to "News", articles_path %></li>
            <%= image_tag("account-group.svg", :alt=>"Logo") %>
            <li><%= (link_to "Dashboard", admin_dashboard_path, data: { turbolinks: false }) if current_user.admin %></li>
            <%= image_tag("card-account-details-outline.svg", :alt=>"Logo") %>
            <li><%= link_to "Profile", user_path(current_user)%></li>
            <%= image_tag("message-reply.svg", :alt=>"Logo") %>
            <li>Messages</li>
            <%= image_tag("history.svg", :alt=>"Logo") %>
            <li><%= link_to 'My Team', team_path(current_user.team) %></li>
            <%= image_tag("history.svg", :alt=>"Logo") %>
            <li><%= link_to 'Teams', (current_user.admin ? admin_teams_path : teams_path) %></li>
            <%= image_tag("file-multiple-outline.svg", :alt=>"Logo") %>
            <li><%= link_to "Spreadsheet", "https://docs.google.com/spreadsheets/d/1Tr6kYGr_T-DWWXlYs9p5Cc6EXGjUCdJQgSo1plwBklw/edit?usp=sharing", target: :_blank %></li>
            <% if current_user.admin? %>
                <%= image_tag("file-multiple-outline.svg", :alt=>"Logo") %>
                <li><%= link_to "Editable Spreadsheet", "https://docs.google.com/spreadsheets/d/1qIWp0pUQTd5R86BjRYq0xipPw5Md0RFn05gvvzOEMxA/edit#gid=0", target: :_blank %></li>
                <%= image_tag("cog-outline.svg", :alt=>"Logo") %>
                <li><%= link_to "New Article", new_admin_article_path %></li>
            <% end %>

        </ul>
    <% end %>
    
    <% if current_user.nil? %>
        <ul class="site-info">
            <%= image_tag("cog-outline.svg", :alt=>"Logo") %>
            <li><%= (link_to "Sign Up", new_user_registration_path) %></li>
            <%= image_tag("face-agent.svg", :alt=>"Logo") %>
            <li><%= (link_to "Sign In", new_user_session_path) %></li>
        </ul>
    <% end %>
</div>