<div class="players-list">
  <h1>Players</h1>
  <table>
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Age</th>
        <th>Height</th>
        <th>Position</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% @players.first(20).each do |player| %>
        <tr>
          <td>
            <%= link_to player.print_full_name, player_path(player) %>
          </td>
          <td><%= player.age %></td>
          <td><%= player.height %></td>
          <td><%= player.position %></td>
          <td><%= link_to player.team.titleize_name, team_path(player.team) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination-wrapper">
    <%= paginate @players %>
  </div>
</div>
