<div class="player-profile-container">
  <h1>
    <% if @player.full_name.nil? || @player.full_name == "" %>
      <%= @player.print_full_name %>
    <% else %>
      <%= @player.full_name %>
    <% end %>
  </h1>
  <ul class="player-profile-info-list">
    <li><p class="player-profile-label">Age:</p><p class="player-profile-value"><%= @player.age%></p></li>
    <li><p class="player-profile-label">School:</p><p class="player-profile-value"><%= @player.school%></p></li>
    <li><p class="player-profile-label">Country:</p><p class="player-profile-value"><%= @player.country%></p></li>
    <li><p class="player-profile-label">Height:</p><p class="player-profile-value"><%= @player.height%></p></li>
    <li><p class="player-profile-label">Position:</p><p class="player-profile-value"><%= @player.position%></p></li>
    <li><p class="player-profile-label">Draft:</p><p class="player-profile-value"><%= @player.draft_class%></p></li>
    <li><p class="player-profile-label">Years Played:</p><p class="player-profile-value"><%= @player.years_in_league%></p></li>
    <li><p class="player-profile-label">Current Team:</p><p class="player-profile-value"><%= @player.show_player_team%></p></li>
    <li>
      <p class="player-profile-label">Current Salary:</p>
      <p class="player-profile-value">
        <%# @contract.year_1 == 0 ? "Two Way": number_to_currency(@contract.year_1) %>
      </p>
    </li>
  </ul>

  <%= link_to "2K Rating", @player.ratings_url %>

  <%= link_to "Edit Player", edit_team_player_path %>

  <% if @player.contract %>
    <%= link_to "View Contract", team_player_contract_path(@team, @player, @contract) %>
  <% else %>  
    <%= link_to "Create Contract", new_team_player_contract_path(@team, @player) %>
  <% end %>
  
  <%= link_to "Delete", team_player_path(@team, @player), data: {
                                                            turbo_method: :delete,
                                                            turbo_confirm: "Are you sure?"
                                                          } %>
  <%= link_to "Return to Team", team_path(@team) %>
</div>