<%= form_with model: [:admin, team] do |form| %>
  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
    <%= team.errors.full_messages_for(:city).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <%= team.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :division %><br>
    <%= form.select :division, options_for_select(@divisions) %>
    <% team.errors.full_messages_for(:division).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :primary_color %><br>
    <%= form.text_field :primary_color %>
    <%= team.errors.full_messages_for(:primary_color).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :secondary_color %><br>
    <%= form.text_field :secondary_color %>
    <%= team.errors.full_messages_for(:secondary_color).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :tertiary_color %><br>
    <%= form.text_field :tertiary_color %>
    <%= team.errors.full_messages_for(:tertiary_color).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>