<div class="team-page-main-container">
  <h1><%= team.titleize_name %></h1>

  <table class="table table-bordered table-striped">
    <tr class="table-primary">
      <th style="width: 14.28%">Roster</th>
      <th style="width: 14.28%"><%=c_year%></th>
      <th style="width: 14.28%">2023-24</th>
      <th style="width: 14.28%">2024-25</th>
      <th style="width: 14.28%">2025-26</th>
      <th style="width: 14.28%">2026-27</th>
      <th style="width: 14.28%">2027-28</th>
    </tr>
      <% team.players.each do |player| %>
        <tr>
          <td>
            <%= link_to player.print_waived_name, team_player_path(team, player) %>
          </td>
          <% if player.contract.nil? %>
            <td>N/A</td>
          <% else %>
            <% player.contract.contract_array.each do |year| %>
              <td>
                <%= year == 0 ? "Two-Way" : number_to_currency(year) %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <tr>
      <th class="table-primary">Total Payroll</th>
      <% team.yearly_salary_array.each do |salary| %>
        <td><%= number_to_currency(salary) %></td>
      <% end %>
    </tr>
    <tr>
      <th class="table-primary">Against Salary Cap</th>
        <td><%= number_to_currency(cap - team.yearly_salary_array[0]) %></td>
    </tr>
    <tr>
      <th class="table-primary">Against Luxury Tax</th>
        <td><%= number_to_currency(luxury - team.yearly_salary_array[0]) %></td>
    </tr>
    <tr>
      <th class="table-primary">Against Apron</th>
        <td><%= number_to_currency(apron - team.yearly_salary_array[0]) %></td>
    </tr>
  </table>

<ul>
  <li><%= link_to "Add Player", new_admin_team_player_path(@team, @player) %>
  <li><%= link_to "Edit", edit_admin_team_path %></li>
  <li><%= link_to "Home", root_path %></li>
</ul>