<div class="homepage-main-content">
  <table class="table table-bordered table-striped">
    <tr class="table-primary">
      <th class="roster-header" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>"><%= team.titleize_name %></th>
      <th class="roster-header" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>"><%=c_year%></th>
      <th class="roster-header" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">2024-25</th>
      <th class="roster-header" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">2025-26</th>
      <th class="roster-header" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">2026-27</th>
      <th class="roster-header" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">2027-28</th>
    </tr>
      <% team.players.each do |player| %>
        <tr>
          <td style="--bs-table-accent-bg: white">
            <%= link_to player.print_waived_name, admin_team_player_path(team, player) %>
          </td>
          <% if player.contract.nil? %>
            <td style="--bs-table-accent-bg: white">N/A</td>
            <% 4.times do %>
              <td style="--bs-table-accent-bg: white"></td>
            <% end %>
          <% else %>
            <% player.contract.contract_array[0...-1].each do |year| %>
              <td style="--bs-table-accent-bg: white">
                <%= year == 0 ? "Two-Way" : number_to_currency(year) %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <tr>
      <th class="table-primary" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">Total Payroll</th>
      <% team.yearly_salary_array.each do |salary| %>
        <td style="--bs-table-accent-bg: white"><%= number_to_currency(salary) %></td>
      <% end %>
    </tr>
    <tr>
      <th class="table-primary" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">Against Salary Cap</th>
        <% 5.times do |i|%>
          <td style="--bs-table-accent-bg: white"><%= number_to_currency(@cap.salary_cap - team.yearly_salary_array[i]) %></td>
        <% end %>
    </tr>
    <tr>
      <th class="table-primary" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">Against Luxury Tax</th>
        <% 5.times do |i|%>
          <td style="--bs-table-accent-bg: white"><%= number_to_currency(@cap.luxury_tax - team.yearly_salary_array[i]) %></td>
        <% end %>
    </tr>
    <tr>
      <th class="table-primary" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">Against Apron</th>
        <% 5.times do |i|%>
          <td style="--bs-table-accent-bg: white"><%= number_to_currency(@cap.apron - team.yearly_salary_array[i]) %></td>
        <% end %>
    </tr>
    <tr>
      <th class="table-primary" style="color: white; --bs-table-accent-bg: <%= team.primary_color %>">Against Second Apron</th>
        <% 5.times do |i|%>
          <td style="--bs-table-accent-bg: white"><%= number_to_currency(@cap.second_apron - team.yearly_salary_array[i]) %></td>
        <% end %>
    </tr>
  </table>
</div>
<ul class="roster-admin-links">
  <li><%= link_to "Add Player", new_admin_team_player_path(@team, @player), :style=>"text-decoration: none; color:white" %>
  <li><%= link_to "Edit", edit_admin_team_path, :style=>"text-decoration: none; color:white" %></li>
  <li><%= link_to "Return to Teams", admin_teams_path, :style=>"text-decoration: none; color:white" %></li>
</ul>